version: '3.9'
services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  backend:
    build: .

    container_name: student_control_backend
    command: sh -c "npx prisma migrate deploy && yarn run start:dev"
    env_file:
      - .env
    ports:
      - "3000:3000"
    environment:
      DB_HOST: ${DB_HOST}
      JWT_SECRET: ${JWT_SECRET}
      DB_PORT: ${DB_PORT}
      DB_USERNAME: ${DB_USERNAME}
      NODE_ENV: ${NODE_ENV}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
    depends_on:
      - db

    volumes:
      - ./:/app
      - /app/node_modules
volumes:
  pg_data:
